html
    head 
        link(href='css/style.min.css') 
    body 
        include html/header
        main.page 
            h1 Привет!2s
            img(src="@img/giona-pazzini-zRdjzpyOj_E-unsplash.jpg")
        include html/footer
        script(src='js/app.min.js')